<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>C哩C哩-最好玩的二次元周边网站（clicli.com）</title>
	<link rel="stylesheet" href="css/slide.css" type="text/css">
	<link rel="stylesheet" href="css/index.css" type="text/css">
	
	<meta name="keywords" content="C哩C哩商城,clicli.com,二次元,ACG,精品,正品,特卖,游戏">
	<meta name="description" content="C哩C哩商城,clicli.com,最好玩的二次元周边网站,二次元,ACG,精品,正品,特卖,游戏,便捷、诚信的服务，为您提供愉悦的购物体验!">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="js/v1-5D12EFC332284F5AB6F1504DF2BC4.js"></script>
	<!-- cycang.com Baidu tongji analytics -->
	<!-- <script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc5a2a3ab962346d1e9cfaf5dc654c2f5' type='text/javascript'%3E%3C/script%3E"));
	</script> -->
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<![endif]-->
</head> 
<body>
	<!--header start-->
	<header class="c_header">
	<nav class="c_tools">
		<div class="c_container">
			<div class="c_tools_left">
				<p>吱，欢迎来到C哩C哩商城</p>
									<a class="c_tools_item" href="javascript:;" target="_blank">请登录</a>
					<a class="c_tools_item" href="javascript:;" target="_blank">免费注册</a>
							</div>
			<div class="c_tools_right">
				<a class="c_tools_item" href="javascript:;" target="_blank">我的订单</a>
				<a class="c_tools_item c_tools_cart" href="javascript:;" target="_blank">
					<span>购物车</span>
										<b>0</b>
									</a>
				<a class="c_tools_item" href="javascript:;" target="_blank"><span>收藏夹</span></a>
				<a class="c_tools_item" href="javascript:;" target="_blank">联系客服</a>
				<div class="c_weibo left"><wb:follow-button uid="5560954188" type="red_1" width="90" height="24"></wb:follow-button></div>
			</div>
		</div>
	</nav>
	<div class="c_container">
		<a href="javascript:;" class="c_header_logo left"><img src="picture/logo.png" style="width: 100px;height:100px" alt=""></a>
		<div class="c_search left">
			<form action="index.php" method="get" target="_blank" id="J_search" data-suggest-url="index.php?c=product&a=getSearchSuggest">
				<input type="hidden" name="a" value="page">
				<input type="text" name="q" value="" id="search_key" autocomplete="off" style="padding-left:70px;">
				<input type="submit" name="" value="搜&nbsp;索">
				<select name="page_type" id="c_search_type" class="c_search_type" style="height:34px; ">
					<option value="1" selected="selected">商品</option>
					<option value="2">店铺</option>
				</select>
			</form>
			<ul class="c_search_suggest" id="J_search_suggest"></ul>
			<div class="c_hot_query">
											<a href="javascript:;" target="_blank" title="lolita">lolita</a>
											<a href="javascript:;" target="_blank" title="Honest">Honest</a>
											<a href="javascript:;" target="_blank" title="人">人</a>
											<a href="javascript:;" target="_blank" title="画影">画影</a>
											<a href="javascript:;" target="_blank" title="风荷举">风荷举</a>
											<a href="javascript:;" target="_blank" title="剑三">剑三</a>
											<a href="javascript:;" target="_blank" title="举">举</a>
											<a href="javascript:;" target="_blank" title="鹤归">鹤归</a>
											<a href="javascript:;" target="_blank" title="烟昔泠">烟昔泠</a>
											<a href="javascript:;" target="_blank" title="鲛人歌">鲛人歌</a>
											<a href="javascript:;" target="_blank" title="风荷">风荷</a>
												</div>
		</div>
		<a href="javascript:;" class="c_header_dl right" target="_blank">
			<img src="picture/qr.png" alt="" target="_blank">
			<p style="text-align: center;">下载手机C哩C哩商城</p>
		</a>
	</div>
	<nav class="c_nav_btm">
								<a href="javascript:;" target="_blank">图书仓</a>
											<a href="javascript:;" target="_blank">汉风仓</a>
											<a href="javascript:void(0);"  onclick="doSeachUI()">手办仓</a>
											<a href="javascript:;" target="_blank">首饰仓</a>
											<a href="javascript:;" target="_blank">零食仓</a>
											<a href="javascript:;" target="_blank">文具仓</a>
											<a href="javascript:;" target="_blank">古风仓</a>
											<a href="javascript:;" target="_blank">装扮仓</a>
											<a href="javascript:;" target="_blank">周边仓</a>
											<a href="javascript:;" target="_blank">服饰仓</a>
					
		<a href="javascript:;" class="c_header_cart right" target="_blank">
			<i class="c_cart_icon"></i>
			<span>购物车</span>
						<b>(0)</b>
					</a>
	</nav>
</header>

	<!--header end-->
	
	<div class="c_content">
		<!--分类&slider start-->
		<div class="c_slider" style="width:100%;">
			<div class="c_slide_bg_wrap">
					<div class="c_swiper_wrap">
						<div class="swiper-container c_swiper_wrap_container">
							<div class="swiper-wrapper">
																<div class="swiper-slide" data-banner-url="http://b.cycangcdn.com/1554194042956.png">
									<a href="javascript:;" target="_blank">
										<!-- <img src="http://b.cycangcdn.com/1554194042956.png" width="100%"> -->
									</a>
								</div>
																<div class="swiper-slide" data-banner-url="http://b.cycangcdn.com/1545723555439.png">
									<a href="javascript:;" target="_blank">
										<img src="http://b.cycangcdn.com/1545723555439.png" width="100%"> 
									</a>
								</div>
																<div class="swiper-slide" data-banner-url="http://b.cycangcdn.com/1545965554124.jpg">
									<a href="javascript:;" target="_blank">
										 <img src="http://b.cycangcdn.com/1545965554124.jpg" width="100%"> 
									</a>
								</div>
																<div class="swiper-slide" data-banner-url="http://b.cycangcdn.com/1580473144728.jpg">
									<a href="" target="_blank">
										<!--<img src="http://b.cycangcdn.com/1580473144728.jpg" width="100%">   -->
									</a>
								</div>
																<div class="swiper-slide" data-banner-url="http://b.cycangcdn.com/1553850474750.png">
									<a href="javascript:;" target="_blank">
										 <img src="http://b.cycangcdn.com/1553850474750.png" width="100%"> 
									</a>
								</div>
																<div class="swiper-slide" data-banner-url="http://b.cycangcdn.com/1554280243497.png">
									<a href="javascript:;" target="_blank">
										<img src="http://b.cycangcdn.com/1554280243497.png" width="100%"> 
									</a>
								</div>
																<div class="swiper-slide" data-banner-url="http://b.cycangcdn.com/1512705768405.png">
									<a href="javascript:;" target="_blank">
										 <img src="http://b.cycangcdn.com/1512705768405.png" width="100%"> 
									</a>
								</div>
						</div>
							
						</div>
						
					</div>
					

			</div>
			<div class="c_slider_inner">
				<ul class="c_cat_nav">
					<h1>商品分类</h1>
										<li>
						<p class="c_cat_item_list">
							<a href="javascript:;">上衣、下装</a>
						</p>
						<div class="c_cat_more">
														<a href="javascript:;" target="_blank"><p>上衣</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">日常</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">泳衣</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">汉风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">古风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">lolita</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">T恤</a>
															</div>
														<a href="javascript:;" target="_blank"><p>下装</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">汉风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">古风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">lolita</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">胖次</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">南瓜裤</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">日常</a>
															</div>
													</div>
					</li>
										<li>
						<p class="c_cat_item_list">
							<a href="javascript:;">小裙子、外套</a>
						</p>
						<div class="c_cat_more">
														<a href="javascript:;" target="_blank"><p>小裙子</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">汉风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">古风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">和风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">lolita</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">日常</a>
															</div>
														<a href="javascript:;" target="_blank"><p>外套</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">日常</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">汉风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">和风</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">lolita</a>
															</div>
													</div>
					</li>
										<li>
						<p class="c_cat_item_list">
							<a href="javascript:;">装扮</a>
						</p>
						<div class="c_cat_more">
														<a href="javascript:;" target="_blank"><p>COSPLAY</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">服装</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">假发</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">道具</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">妆面</a>
															</div>
													</div>
					</li>
										<li>
						<p class="c_cat_item_list">
							<a href="javascript:;">配件、包包</a>
						</p>
						<div class="c_cat_more">
														<a href="javascript:;" target="_blank"><p>配件</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">帽子</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">围巾</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">配饰</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">手表</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">首饰</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">鞋子</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">袜子</a>
															</div>
														<a href="javascript:;" target="_blank"><p>包包</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">女包</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">单肩包</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">其他</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">钱包</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">帆布袋</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">背包</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">拉箱</a>
															</div>
													</div>
					</li>
										<li>
						<p class="c_cat_item_list">
							<a href="javascript:;">居家宅品、游戏专区</a>
						</p>
						<div class="c_cat_more">
														<a href="javascript:;" target="_blank"><p>居家宅品</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">手办</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">家纺品</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">眼镜布</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">毛巾</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">创意宅物</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">零食</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">节日特典</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">桌游</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">兵人</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">BJD</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">优惠券</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">金属贴</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">扭蛋/蛋盒</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">挂件</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">挂画海报</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">餐具</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">公仔</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">雨伞</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">DIY</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">扇子</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">抱枕</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">等身抱枕</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">护肤品</a>
															</div>
														<a href="javascript:;" target="_blank"><p>游戏专区</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">AR专区</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">掌机配件</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">家用机配件</a>
															</div>
													</div>
					</li>
										<li>
						<p class="c_cat_item_list">
							<a href="javascript:;">办公文具</a>
						</p>
						<div class="c_cat_more">
														<a href="javascript:;" target="_blank"><p>创意文具</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">笔记本</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">书签</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">明信片</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">文件夹</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">书籍</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">便签本</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">笔袋笔筒</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">卡套/卡贴</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">和纸胶带</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">笔墨</a>
															</div>
													</div>
					</li>
										<li>
						<p class="c_cat_item_list">
							<a href="javascript:;">数码周边</a>
						</p>
						<div class="c_cat_more">
														<a href="javascript:;" target="_blank"><p>数码周边</p></a>
							<div>
																<a class="c_cat_item" href="javascript:;" target="_blank">移动电源</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">手机壳</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">票务</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">耳机</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">U盘</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">鼠键</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">交通卡</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">Wacom系列</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">屏幕保护膜</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">自拍杆</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">小家电</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">鼠标垫</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">金属贴</a>
																<a class="c_cat_item" href="javascript:;" target="_blank">数据线</a>
															</div>
													</div>
					</li>
									</ul>
				<div class="swiper-pagination"></div>
				<div class="c_fake_mid"></div>
				<div class="c_extra" style="float:right;">
					<a href="javascript:;" class="c_sk_entry" target="_blank"></a>
					<a href="javascript:;" class="c_tick_entry" target="_blank"></a>
				</div>
			</div>
		</div>
		<!--分类&slider end-->
		
				<!--闪购-->
		<div class="c_sk">
			<p class="c_sk_loading"></p>
		</div>

		<!-- 拼团 -->
		<div class="c_pt">
			<p class="c_sk_loading c_pt"></p>
		</div>

		<!--推荐-->
		<div class="c_recommend">
			<div class="c_commend_bar"><span></span></div>
			<div class="c_recommend_title">
				<div class="left c_on J_new">
					<p>新品推荐</p>
					<a href="javascript:;" target="_blank" class="c_stop_propa">更多</a>
				</div>
				<span class="c_mid_line left"></span>
				<div class="left J_hot">
					<p>热卖推荐</p>
					<a href="javascript:;" target="_blank" class="c_stop_propa">更多</a>
				</div>
			</div>
			<ul class="c_product_list" id="J_recommend_container">
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1585905699505.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">预售【官方正版】 全职高手 韩文清2020SweetDay生日限定色纸</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1585905606891.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【官方正版】全职高手 韩文清2020sweetday生日限定 挂件</p>
												<p class="c_prduct_price">&yen;25.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1585724063119.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">我家大师兄脑子有空  印飞星 生日周边</p>
												<p class="c_prduct_price">&yen;10.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1585304703216.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">全职高手 马戏团系列 鼠标垫</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1585020255265.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【荨梦文化】官方正版 bilibili BML2019广州场 主题抱枕</p>
												<p class="c_prduct_price">&yen;69.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584971032382.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【漫踪】正版 魔道祖师 亚克力 蓝忘机魏无羡 钥匙扣Q版挂件</p>
												<p class="c_prduct_price">&yen;20.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584970798298.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【漫踪】魔道祖师 正版周边 魏无羡蓝忘机Q版 御守</p>
												<p class="c_prduct_price">&yen;25.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584970563748.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【漫踪】魔道祖师 正版周边 亚克力挂件</p>
												<p class="c_prduct_price">&yen;18.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584970467766.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【漫踪】正版 魔道祖师 蓝忘机魏无羡 金属印象古风 创意书签</p>
												<p class="c_prduct_price">&yen;49.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584970309509.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【漫踪】官方正版 魔道祖师 人物角色 磁性书签</p>
												<p class="c_prduct_price">&yen;25.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584970195969.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【actoys】 正版 猫迷铃铛系列 迷你版手办盲盒 </p>
												<p class="c_prduct_price">&yen;48.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584970098661.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【ACTOYS】正版 猫咪铃铛系列 盒蛋 午睡时光 </p>
												<p class="c_prduct_price">&yen;65.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584969693890.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【漫趣】正版 甜品猫 可爱小猫咪 盲盒</p>
												<p class="c_prduct_price">&yen;59.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584969135298.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【Actoys】正版 猫猫满袋 猫咪铃铛系列 猫铃铛盲盒第二弹</p>
												<p class="c_prduct_price">&yen;65.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584968819316.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">现货【漫趣】动漫周边 mur猫 毛绒抱枕 靠垫靠枕</p>
												<p class="c_prduct_price">&yen;45.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584180354869.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">预售【官方正版】全职高手 心愿蛋糕系列 色纸</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1584015456512.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办</p>
												<p class="c_prduct_price">&yen;496.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1583812790104.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【官方正版】全职高手 张佳乐2020sweetday生日限定周边</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1583810227685.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name"> 全职高手 荣耀学院 立牌挂件</p>
												<p class="c_prduct_price">&yen;35.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1583809010974.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">预售【官方正版】明日方舟 人物角色 长条徽章吧唧</p>
												<p class="c_prduct_price">&yen;20.00</p>
											</a>
				</li>
												<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1517474515868.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【官方正版】包邮 全职高手17典藏版 挺进四强 特典版天闻角川 蝴蝶蓝著 全职高手小说</p>
												<p class="c_prduct_price">&yen;45.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1505301282345.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【全职高手】修鲁鲁系列丨环保袋 共8款</p>
												<p class="c_prduct_price">&yen;45.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1512636873567.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【官方正版】非人哉-小玉 月上丹桂 日常 和风羽织</p>
												<p class="c_prduct_price">&yen;168.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1512705153168.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【官方正版】【非人哉】-白泽 星宿四神 日常 和风羽织</p>
												<p class="c_prduct_price">&yen;168.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1505300730061.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【全职高手】战队人物系列眼镜布 共15款</p>
												<p class="c_prduct_price">&yen;10.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1478506900660.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【漫趣】JK制服包日本学生包单肩斜跨包手提包</p>
												<p class="c_prduct_price">&yen;49.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1496289587129.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【风雪初晴】合作款 荷风竹露 手工流苏发夹 古装头饰 汉服配饰 百搭日常</p>
												<p class="c_prduct_price">&yen;26.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1470064998807.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【现货】【溪月兰心】手工彩绘琉璃珠发簪  古风 和风头饰发饰</p>
												<div class="c_price_wrap">
							<span>折扣价</span>
							<span class="c_price_now">&yen;39.00</span>
							<del>&yen; 55.00</del>
						</div>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1445328043518.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">《虞美人》 精装画集 夏达 伊吹 景殊 等数十位画师合力绘制</p>
												<p class="c_prduct_price">&yen;42.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1500518751127.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【尚漫】永远的银魂 十周年典藏纪念册 随书附赠邮票信封</p>
												<p class="c_prduct_price">&yen;198.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1541645311694.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">预售【非人哉】 官方正版 反差萌 人物角色挂件</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1497595701208.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">预售《古乐风华录·长歌入梦》 古乐音乐礼盒 李堃 吟耳汤 长阳RIN 阿莘 小太阳 离城 赭凉</p>
												<p class="c_prduct_price">&yen;78.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1496742894976.png" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【夏堇】普通版《蒹葭•食诱》古风美食拟人画集 秀色可餐的古风服饰搭配指南</p>
												<p class="c_prduct_price">&yen;42.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1489841081113.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【天闻角川】全职高手9进击挑战赛 全职高手9典藏版 随书赠大海报 蝴蝶蓝著猫树绘</p>
												<div class="c_price_wrap">
							<span>折扣价</span>
							<span class="c_price_now">&yen;42.00</span>
							<del>&yen; 48.00</del>
						</div>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1489390352328.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name"> 官方正版 全职高手 角色签名笔记本  全26款</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1485064890719.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">古风原创桃花缘和纸胶带-梦回·缘起 桃花树</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1499223888150.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【夏堇】 《蒹葭》 穿越古今的汉元素服饰混搭指南</p>
												<div class="c_price_wrap">
							<span>折扣价</span>
							<span class="c_price_now">&yen;39.00</span>
							<del>&yen; 69.00</del>
						</div>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1500543001475.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">《绣春刀Ⅱ修罗战场》电影官方纪念册丨徐超渊 九千坊 离城 随书赠送8枚连体明信片</p>
												<p class="c_prduct_price">&yen;88.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1544587968612.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">预售【官方正版】 Just·ModeX白蛇·缘起 系列晴雨伞 三折伞</p>
												<p class="c_prduct_price">&yen;138.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1541734228567.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【魔卡少女樱】官方正版 魔卡少女樱 透明牌篇 亚克力支架立牌</p>
												<p class="c_prduct_price">&yen;65.00</p>
											</a>
				</li>
								
			</ul>
			<div class="c_recommend_page"></div>
		</div>

		<!--楼层-->
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1490684231723.png" alt="装扮仓"><span>装扮仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change" >换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1490682986234.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					   style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1480325641299.png" alt="古风仓"><span>古风仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change">换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1480302247472.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					            style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1490690388483.png" alt="汉风仓"><span>汉风仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change" >换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1516074720873.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					            style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1480325586541.png" alt="首饰仓"><span>首饰仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change">换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1527842202152.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					             style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1480325612323.png" alt="零食仓"><span>零食仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change" >换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1480302222099.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					            style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1480325816038.png" alt="服饰仓"><span>服饰仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change" >换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1486106317267.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					            style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1480325548444.png" alt="周边仓"><span>周边仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change">换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1520303527494.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					            style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
				<div class="c_floor">
			<div class="c_floor_title">
				<div class="c_floor_name">
					<img src="picture/1480325578896.png" alt="手办仓"><span>手办仓</span>
				</div>

				<div class="right c_floor_btn">
					<a href="javascript:;" class="c_floor_change" >换一批</a>
					<a href="javascript:;" class="c_floor_more" target="_blank">更多</a>
				</div>
			</div>
			<ul class="c_product_list">
					<img data-original="picture/1483692054537.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"
					            style="width: 980px; margin-left: 100px;">
			</ul>
		</div>
		
		<!-- 品牌墙 -->
		<div class="c_brand">
						<a href="javascript:;"><img data-original="picture/1480304143900.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1510647364116.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1486372890662.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480304250388.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480477875838.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1510818874232.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480302113288.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1486610249632.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480304356488.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480302679565.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480304191928.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480649598649.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480493800090.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480304209532.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480304312396.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1480403516418.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1490601883028.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
						<a href="javascript:;"><img data-original="picture/1494833782957.jpg" src="picture/loading.jpg" alt="" class="c_lazyload"></a>
					</div>

		<!-- 猜你喜欢 -->
		<div class="c_guess">
			<div class="c_guess_title">
				<h1>猜你喜欢</h1>
				<p>这些商品也一样给力哦</p>
			</div>
			<ul class="c_product_list">
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1473433398206.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【GEM】 所有配件和邮费补差拍付页面，标价多少拍多少</p>
												<p class="c_prduct_price">&yen;1.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1473680871699.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【天闻角川】青瓷 和纸胶带01·呀呀款 天闻角川出品</p>
												<div class="c_price_wrap">
							<span>折扣价</span>
							<span class="c_price_now">&yen;42.00</span>
							<del>&yen; 67.00</del>
						</div>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1473673702865.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【USEE哟喜】原创防水纹身贴 几何线条猫头鹰花臂 黑白持久男女贴纸</p>
												<p class="c_prduct_price">&yen;6.00</p>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1473932478691.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">【GEM贵族娃娃】1/4 巨婴bjd娃娃，蒙琪（带翅膀天使版）</p>
												<div class="c_price_wrap">
							<span>折扣价</span>
							<span class="c_price_now">&yen;1680.00</span>
							<del>&yen; 2618.00</del>
						</div>
											</a>
				</li>
								<li>
					<a href="javascript:;" target="_blank">
						<img data-original="picture/1473310210625.jpg" src="picture/loading.jpg" alt="" class="c_lazyload">
						<p class="c_product_name">老九门周边 陈伟霆张启山张艺兴二月红透明亚克力挂件钥匙扣 现货</p>
												<p class="c_prduct_price">&yen;15.00</p>
											</a>
				</li>
							</ul>
		</div>
		
	</div>
	<a class="c_fix_top" href="javascript:;" id="J_top"></a>
	<!-- footer start -->
	<footer class="c_footer">
		<div class="c_container">
			<!--<div class="c_accept_wrap">
				<ul class="c_accept">
					<li>
						<i class="c_icon_cang1"></i>
						<span>首次下单免邮</span>
					</li>
					<li>
						<i class="c_icon_cang2"></i>
						<span>自营69元包邮</span>
					</li>
					<li>
						<i class="c_icon_cang3"></i>
						<span>7天退货保障</span>
					</li>
				</ul>
			</div>-->
			<div class="c_infor_wrap">
				<div class="c_infor">
					<dl>
						<dt>商务合作</dt>
						<dd><a href="javascript:;" target="_blank">品牌进驻</a></dd>
						<dd><a href="javascript:;" target="_blank">IP授权</a></dd>
						<dd><a href="javascript:;" target="_blank">批发代销</a></dd>
						<dd><a href="javascript:;" target="_blank">票务合作</a></dd>
					</dl>
					<dl>
						<dt>联系方式</dt>
						<dd>官方邮箱：act@Fx.com</dd>
						<dd>推广合作：act@Fx.com</dd>
						<dd>媒体合作：act@Fx.com</dd>
						<dd>商务合作：Fx@126.com</dd>
					</dl>
					<dl>
						<dt>客服售后</dt>
						<dd>客服热线：400-667-1673</dd>
						<dd>客服QQ1：1903417508</dd>
						<dd>客服QQ2：819606147</dd>
					</dl>
					<dl>
						<dt>直播合作</dt>
						<dd>QQ：1787919570</dd>
					</dl>

					<ul class="c_infor_right">
						<li>
							<a href="javascript:;" target="_blank">
								<img class="c_qr" src="picture/qr.png" alt="">
								<p class="c_red_light">下载手机C哩C哩商城</p>
							</a>
						</li>
						<li>
							<i class="c_icon_weibo"></i>
							<p>微博搜索并关注<span class="c_red_light">@C哩C哩</span></p>
						</li>
						<li>
							<i class="c_icon_wechat"></i>
							<p>微信公众号搜索并关注<span class="c_red_light">C哩C哩</span></p>
						</li>
					</ul>
					<dl class="c_infor_link">
						<dt>友情链接：</dt>
						<dd>
							<a href="javascript:;" target="_blank">麦萌对手戏</a>
						</dd>
						<dd>
							<a href="javascript:;" target="_blank">白熊阅读</a>
						</dd>
						<dd>
							<a href="javascript:;" target="_blank">爱动漫</a>
						</dd>
					</dl>
					</div>
				</div>
			</div>
			<p class="c_copyright">
			 ICP © 2017 FX函数科技有限公司 版权所有 <a href="javascript:;" target="_blank"> 免责声明</a>（备案号：<a href="javascript:;" target="_blank">粤ICP备15028368号</a>)
			</p>
		
	</footer>
	<!-- footer end -->
	<input type="hidden" id="J_get_pt_info" value="#">
	<input type="hidden" id="J_get_sk_info" value="#">
	<script type="text/html" id="J_sk_tmpl">
		<div class="c_sk_wrap">
			<!-- todo 这个就不是用is_finish 来做判断了，而是通过是否列表1里边不为空看来标记了 -->
			<p class="c_sk_tlt_now c_sk_title">
				<span class="c_arrow_wrap">
					{{if skList.length }}
						{{if skList[0].is_finish == 1 }}
							<span id="J_sk_text">本期闪购已结束</span>
						{{else}}
							<span id="J_sk_text">离本期闪购结束还有</span>&nbsp;<span class="c_time" data-time="{{skList[0].sell_time_gap}}" data-is-begin="{{skList[0].is_begin}}"></span>
						{{/if}}
					{{else}}
						本期无闪购
					{{/if}}
				</span>
			</p>

			<p class="c_sk_tlt_ready c_sk_title">
				<span class="c_arrow_wrap">
					{{if skReadyList.length }}
						<span id="J_sk_text">离本期闪购开始还有</span>&nbsp;<span class="c_sk_ready_time" data-time="{{skReadyList[0].sell_time_gap}}" data-is-begin="skReadyList[0].is_begin"></span>
					{{else}}
						无即将开始的闪购
					{{/if}}
				</span>
			</p>
			<p class="c_sk_select"> <span class="c_sk_now c_sk_item">本期闪购</span> <span class="c_sk_dot"></span> <span class="c_sk_item c_sk_ready">即将开始</span></p>
			<ul class="c_sk_list" id="J_sk_container">
				{{if skList.length}}
					{{each skList as sk_item}}
						<li data-product-id="{{sk_item.product_id}}" class="{{if !sk_item.is_finish}}left_item{{/if}}">
							<a href="index.php?a=sp&id={{sk_item.product_id}}" target="_blank"><img src="{{sk_item.figure}}" alt="" class="c_sk_left"></a>
							<div class="c_sk_right">
								<p class="c_sk_name">{{sk_item.name}}</p>
								<p class="c_sk_price">&yen;{{sk_item.cover_price}}</p>
								<del>&yen;{{sk_item.origin_price}}</del>

								{{if sk_item.is_finish != 1 && sk_item.is_begin == 1}}
									<div class="c_sk_bar"><span style="width: {{100-sk_item.leaving_proportion}}%"></span></div>
									{{if sk_item.leaving_proportion == 0}}
										<p class="c_sk_stock">已抢光</p>
									{{else}}
										<a href="index.php?a=sp&id={{sk_item.product_id}}" class="c_sk_btn" target="_blank">马上抢</a>
										<p class="c_sk_stock">已抢购{{100 - sk_item.leaving_proportion}}%</p>
									{{/if}}
								{{else if sk_item.is_begin != 1}}
									<div class="c_sk_bar"><span style="width: {{100-sk_item.leaving_proportion}}%"></span></div>
									<a href="index.php?a=sp&id={{sk_item.product_id}}" class="c_sk_btn" target="_blank">即将开始</a>
									<p class="c_sk_stock">已抢购{{100 - sk_item.leaving_proportion}}%</p>
								{{else}}
							 		<a href="javascript:;" class="c_sk_btn c_sk_end" target="_blank">闪购结束</a>
								{{/if}}
							
							</div>
						</li>
					{{/each}}
				{{else}}
					<img src="//www.cycang.com/Public/build/img/shop/list_empty.png" alt="" class="c_empty_sk_list">
					<div class="c_empty_sk_list_text">
						<p>火速上架ing</p>
						<p>敬请期待</p>
					</div>
				{{/if}}
			</ul>
			<ul class="c_sk_list" id="J_sk_ready_container">
				{{if skReadyList.length}}
					{{each skReadyList as sk_item}}
						<li data-product-id="{{sk_item.product_id}}" >
							<a href="index.php?a=sp&id={{sk_item.product_id}}" target="_blank"><img src="{{sk_item.figure}}" alt="" class="c_sk_left"></a>
							<div class="c_sk_right">
								<p class="c_sk_name">{{sk_item.name}}</p>
								<p class="c_sk_price">&yen;{{sk_item.cover_price}}</p>
								<del>&yen;{{sk_item.origin_price}}</del>

								{{if sk_item.is_finish != 1 && sk_item.is_begin == 1}}
									<div class="c_sk_bar"><span style="width: {{100-sk_item.leaving_proportion}}%"></span></div>
									{{if sk_item.leaving_proportion == 0}}
										<p class="c_sk_stock">已抢光</p>
									{{else}}
										<a href="index.php?a=sp&id={{sk_item.product_id}}" class="c_sk_btn" target="_blank">马上抢</a>
										<p class="c_sk_stock">已抢购{{100 - sk_item.leaving_proportion}}%</p>
									{{/if}}
								{{else if sk_item.is_begin != 1}}
									<div class="c_sk_bar"><span style="width: {{100-sk_item.leaving_proportion}}%"></span></div>
									<a href="index.php?a=sp&id={{sk_item.product_id}}" class="c_sk_btn" target="_blank">即将开始</a>
									<p class="c_sk_stock">已抢购{{100 - sk_item.leaving_proportion}}%</p>
								{{else}}
							 		<a href="javascript:;" class="c_sk_btn c_sk_end" target="_blank">闪购结束</a>
								{{/if}}
							
							</div>
						</li>
					{{/each}}
				{{else}}
					<img src="//www.cycang.com/Public/build/img/shop/list_empty.png" alt="" class="c_empty_sk_list">
					<div class="c_empty_sk_list_text">
						<p>火速上架ing</p>
						<p>敬请期待</p>
					</div>
				{{/if}}
			</ul>
			<div {{if skList.length <= 9}}style="display:none"{{/if}} class="c_act_page" id="J_sk_page"></div>
			<div {{if skReadyList.length <= 9}}style="display:none"{{/if}} class="c_act_page" id="J_sk_ready_page"></div>
		</div>
	</script>

	<script type="text/html" id="J_pt_tmpl">
		<div class="c_pt_wrap">
			<!-- todo 这个就不是用is_finish 来做判断了，而是通过是否列表1里边不为空看来标记了 -->
			<p class="c_pt_tlt_now c_pt_title">
				<span class="c_arrow_wrap">
					{{if ptList.length }}
						{{if ptList[0].is_finish == 1 }}
							<span id="J_pt_text">本期拼团已结束</span>
						{{else}}
							<span id="J_pt_text">离本期拼团结束还有</span>&nbsp;<span class="c_pt_time" data-time="{{ptList[0].sell_time_gap}}" data-is-begin="{{ptList[0].is_begin}}"></span>
						{{/if}}
					{{else}}
						本期无拼团
					{{/if}}
				</span>
			</p>

			<p class="c_pt_tlt_ready c_pt_title">
				<span class="c_arrow_wrap">
					{{if ptReadyList.length }}
						<span id="J_pt_text">离本期拼团开始还有</span>&nbsp;<span class="c_pt_ready_time" data-time="{{ptReadyList[0].sell_time_gap}}" data-is-begin="ptReadyList[0].is_begin"></span>
					{{else}}
						无即将开始的拼团
					{{/if}}
				</span>
			</p>
			<p class="c_pt_select"> <span class="c_pt_now c_pt_item">本期拼团</span> <span class="c_pt_dot"></span> <span class="c_pt_item c_pt_ready">即将开始</span></p>
			<ul class="c_pt_list" id="J_pt_container">
				{{if ptList.length}}
					{{each ptList as pt_item}}
						<li data-product-id="{{pt_item.product_id}}" class="{{if !pt_item.is_finish}}left_item{{/if}}">
							<a href="index.php?a=pt&id={{pt_item.product_id}}" target="_blank"><img src="{{pt_item.figure}}" alt="" class="c_pt_left"></a>
							<div class="c_pt_right">
								<p class="c_pt_name">{{pt_item.name}}</p>
								<p class="c_pt_price">&yen;{{pt_item.cover_price}}</p>
								<del>&yen;{{pt_item.origin_price}}</del>

								{{if pt_item.is_finish != 1 && pt_item.is_begin == 1}}
									<div class="c_pt_bar"><span style="width: {{100-pt_item.leaving_proportion}}%"></span></div>
									{{if pt_item.leaving_proportion == 0}}
										<p class="c_pt_stock">已抢光</p>
									{{else}}
										<a href="index.php?a=pt&id={{pt_item.product_id}}" class="c_pt_btn" target="_blank">马上拼团</a>
										<p class="c_pt_stock">已拼团{{pt_item.sell_nums}}/{{pt_item.nums}}</p>
									{{/if}}
								{{else if pt_item.is_begin != 1}}
									<div class="c_pt_bar"><span style="width: {{100-pt_item.leaving_proportion}}%"></span></div>
									<a href="index.php?a=pt&id={{pt_item.product_id}}" class="c_pt_btn" target="_blank">即将开始</a>
									<p class="c_pt_stock">已拼{{pt_item.sell_nums}}/{{pt_item.nums}}</p>
								{{else}}
							 		<a href="javascript:;" class="c_pt_btn c_pt_end" target="_blank">拼团结束</a>
								{{/if}}
							
							</div>
						</li>
					{{/each}}
				{{else}}
					<img src="//www.cycang.com/Public/build/img/shop/list_empty.png" alt="" class="c_empty_pt_list">
					<div class="c_empty_pt_list_text">
						<p>火速上架ing</p>
						<p>敬请期待</p>
					</div>
				{{/if}}
			</ul>
			<ul class="c_pt_list" id="J_pt_ready_container">
				{{if ptReadyList.length}}
					{{each ptReadyList as pt_item}}
						<li data-product-id="{{pt_item.product_id}}" >
							<a href="index.php?a=sp&id={{pt_item.product_id}}" target="_blank"><img src="{{pt_item.figure}}" alt="" class="c_sk_left"></a>
							<div class="c_pt_right">
								<p class="c_pt_name">{{pt_item.name}}</p>
								<p class="c_pt_price">&yen;{{pt_item.cover_price}}</p>
								<del>&yen;{{pt_item.origin_price}}</del>

								{{if pt_item.is_finish != 1 && pt_item.is_begin == 1}}
									<div class="c_pt_bar"><span style="width: {{100-pt_item.leaving_proportion}}%"></span></div>
									{{if pt_item.leaving_proportion == 0}}
										<p class="c_sk_stock">拼团成功</p>
									{{else}}
										<a href="index.php?a=sp&id={{sk_item.product_id}}" class="c_sk_btn" target="_blank">马上拼团</a>
										<p class="c_sk_stock">已拼团{{pt_item.sell_nums}}/{{pt_item.nums}}</p>
									{{/if}}
								{{else if pt_item.is_begin != 1}}
									<div class="c_sk_bar"><span style="width: {{100-pt_item.leaving_proportion}}%"></span></div>
									<a href="index.php?a=sp&id={{pt_item.product_id}}" class="c_sk_btn" target="_blank">即将开始</a>
									<p class="c_sk_stock">已拼团{{pt_item.sell_nums}}/{{pt_item.nums}}</p>
								{{else}}
							 		<a href="javascript:;" class="c_pt_btn c_pt_end" target="_blank">拼团结束</a>
								{{/if}}
							
							</div>
						</li>
					{{/each}}
				{{else}}
					<img src="//www.cycang.com/Public/build/img/shop/list_empty.png" alt="" class="c_empty_sk_list">
					<div class="c_empty_sk_list_text">
						<p>火速上架ing</p>
						<p>敬请期待</p>
					</div>
				{{/if}}
			</ul>
			<div {{if ptList.length <= 9}}style="display:none"{{/if}} class="c_act_page" id="J_pt_page"></div>
			<div {{if ptReadyList.length <= 9}}style="display:none"{{/if}} class="c_act_page" id="J_pt_ready_page"></div>
		</div>
	</script>

	<!--todo 首页列表ajax数据返回-->
	<script type="text/html" id="J_floor_tmpl">
		{{each data.list as $product_info}}
		<li class="animated fade">
			<a href="index.php?a=p&id={{$product_info.product_id}}" target="_blank">
				<img src="{{$product_info.figure}}" alt="{{$product_info.name}}" class="c_lazyload">
				<p class="c_product_name">{{$product_info.name}}</p>
				{{if ($product_info.origin_price - $product_info.cover_price) > 0}}
				<div class="c_price_wrap">
					<span>折扣价</span>
					<span class="c_price_now">&yen;{{$product_info.cover_price}}</span>
					<del>&yen; {{$product_info.origin_price}}</del>
				</div>
				{{else}}
				<p class="c_prduct_price">&yen;{{$product_info.cover_price}}</p>
				{{/if}}
			</a>
		</li>
		{{/each}}
	</script>
	<script type="text/javascript">
	    function doSeachUI(){
	    	location.href="search";
	    }
	</script>
	<script src="js/jquery.js"></script>
	<script src="js/slide.js"></script> 
	<script src="js/jquery.lazyload.min.js"></script>
	<script src="js/jPages.min.js"></script>
	<script src="js/countDown.js"></script>
	<script src="js/header.js"></script>
	<script src="js/index.js"></script>
</body>
</html>
