
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办-C哩C哩</title>
    <meta name="keywords" content="C哩C哩,cycang.com,二次元,ACG,精品,正品,特卖,游戏">
    <meta name="description" content="C哩C哩cycang.com,最好玩的二次元周边网站,二次元,ACG,精品,正品,特卖,游戏,便捷、诚信的服务，为您提供愉悦的购物体验!">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/smoothproducts.css" type="text/css">
    <link rel="stylesheet" href="css/detail.css" type="text/css">
    <link rel="shortcut icon" href="#"/>
    <!--[if lt IE 9]> 
        <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="c_comm_dialog_mask" class="ui-window-mask"></div>
<div class="c_comm_dialog">
	<div class="c_comm_content">
		<span class="c_comm_dialog_close c_comm_dialog_close_icon"></span>
		<div>
			<span class="cyc_comm_dialog_icon comm_right_icon" id="c_comm_dialog_icon"></span>
			<span class="cyc_comm_dialog_text">
				
			</span>
		</div>
		<span class="c_comm_dialog_close c_comm_dialog_sure">确定</span>
	</div>
</div>
    <div id="c_dia_mask" class="ui-window-mask"></div>
<div class="tabs_wrap" id="c_tab_wrap">
	<div class="tabs_content">
		<div class="tabs_tlt">C哩C哩会员<span class="dia_close"></span></div>

	    <div id="tabs" class="tabs_item_list">
			<a href="javascript:void(0);" class="on" id="tab_login_title">注册</a>
	        <a href="javascript:void(0);" id="tab_reg_title">登录</a>
	    </div>

		<div id="tabs_body" class="tabs_body">
			<div class="reg_form_wrap form_wrap">
				<form action="" class="login_form" id="user_reg_form">
					<p class="inputs">
						<input id="c_reg_name" class="ipt error c_long_ipt" name="loginName" type="text" data-text='手机号'>
						<label for="" class="ipt_label">手机号</label>
					</p>
					<div id="vaptchaContainer" class="ipt c_long_ipt vaptchaContainer"></div>
					<input type="hidden" name="vaptchaToken" value="" id="vaptchaToken" data-text="人机验证">
					<p class="inputs">
						<input id="c_reg_sms_code" class="ipt short_ipt" style="float:left;" name="password" type="text" data-text='短信验证码'>
						<span class="get_sms_code" id="c_get_sms_code">获取验证码</span>
						<label for="" class="ipt_label">短信验证码</label>
					</p>
					<p class="inputs">
						<input id="c_reg_psw" class="ipt c_long_ipt" name="password" type="password" data-text='密码'>
						<label for="" class="ipt_label">输入密码</label>
					</p>
					<p class="inputs">
						<input id="c_reg_confirm_psw" class="ipt c_long_ipt" name="password" type="password" data-text='密码确认'>
						<label for="" class="ipt_label">密码确认</label>
					</p>
				</form>
				<p class="log_btn_wrap">
					<a id="reg_btn" href="javascript:void(0);" class="log_btn">注册</a>
				</p>
				<p class="reg_explain">点击“免费注册”，即表示您愿意遵守C哩C哩<a href="i-login_accord.html" target="_blank" style="color:#ed3f3f;">用户协议</a></p>
			</div>
		    <div class="log_form_wrap form_wrap">
			    <form action="" class="login_form" id="user_login_form">
			    	<p class="inputs">
                        <span>账号</span>
    					<input id="c_user_name" class="ipt " name="loginName" type="text" autocomplete="off" value="" placeholder="">
    					<label for="" class="ipt_label">请输入手机号</label>
					</p>
					<p class="inputs">
                        <span>密码</span>
    					<input id="c_user_psw" class="ipt" name="password" type="password" autocomplete="off" value="">
    					<label for="" class="ipt_label">请输入密码</label>
					</p>
					<p class="inputs">
                        <span class="c_verify_label">验证码</span>
    					<input id="c_log_verify" class="ipt short_ipt c_verify_ipt" style="float:left;" name="log_verify" type="text">
    					<img src="picture/i-login_captcha.jpg" alt="" height="33px" class="verify_img">
    					<label for="" class="ipt_label">请输入验证码</label>
					</p>
					<p class="remember_p">
						记住我<input type="checkbox" name="remember" id="remember" class="remember">
						<a href="i-login_reset.html" target="_blank" class="find_pwd">忘记密码?戳我找回</a>
					</p>
			    </form>
			    <p class="log_btn_wrap">
			    	<a id="log_btn" href="javascript:void(0);" class="log_btn">登录</a>
			    </p>
			    <div class="unite_group">
				    <p>
                        <span class="c_quick_login_desc">一键登录：</span>
						<a href="javascript:;" target="_blank" class="icon_login icon_weibo"></a>
						<a href="javascript:;" target="_blank" class="icon_login icon_qq"></a>
						<a href="javascript:;" class="icon_login icon_wechat"></a><!--todo wechat login url-->
	                </p>
				</div>
		    </div>
		</div>


	</div>
	<!--wechat login box-->
	<div class="c_wechat_login_box">
		<div id="wechat_login_container"></div>
		<div class="c_wechat_back">返回登录</div>
	</div>
</div>
<!--wechat login!-->
<script src="js/wxLogin.js"></script> 
    <!--header start-->
    <div class="cyc_header" id="cyc_header">
	<div class="cyc_h_top_wrap">
		<div class="cyc_func_container">
			<div class="cyc_tools_left left" id="c_log_reg">
								<a href="i-login.html" class="cyc_tools_item" id="">登录</a>
				<a href="i-login_reg.html" class="cyc_tools_item" id="">注册</a>
            				</div>
			<div class="cyc_tools_right right">
				<div class="c_weibo right">
					<wb:follow-button uid="5560954188" type="red_1" width="67" height="24"></wb:follow-button>
				</div>
				<!--<a href="index.php?a=introduce" class="cyc_tools_item" target="_blank" >公司简介</a>-->
				<a href="index-service.html" class="cyc_tools_item" target="_blank">联系客服</a>
				<a href="buy.html" class="cyc_tools_item" target="_blank">购物车</a>
				<a href="i-orderlist.html" class="cyc_tools_item" target="_blank">我的订单</a>
				<a href="i-favoritelist.html" class="cyc_tools_item" target="_blank">我的收藏</a>
			</div>
		</div>
	</div>
	<div class="cyc_h_mid_wrap">
		<div class="cyc_logo left">
			<a href="index.html" class="cyc_logo_link"><img class="" src="picture/logo.jpg" alt=""></a>
		</div>
		<div class="cyc_search left">
			<form action="index.php" method="get" target="_blank" id="J_search" data-suggest-url="index.php?c=product&a=getSearchSuggest">
				<div class="cyc_search_input">
					<input type="hidden" name="a" value="page">
					<input type="text" class="cyc_search_key" name="q" value="" id="search_key" autocomplete="off">
					<input type="submit" value="搜索" class="cyc_search_btn">
				</div>
				<style>
					
				</style>
				<select name="page_type" id="c_search_type" class="c_search_type">
					<option value="1" selected="selected">商品</option>
					<option value="2">店铺</option>
				</select>
			</form>
			<ul class="cyc_hot_query">
															<li><a href="index-page_lolita.html" target="_blank" title="lolita">lolita</a></li>
											<li><a href="index-page_honest.html" target="_blank" title="Honest">Honest</a></li>
											<li><a href="index-page_E4BABA.html" target="_blank" title="人">人</a></li>
											<li><a href="index-page_E794BBE5BDB1.html" target="_blank" title="画影">画影</a></li>
											<li><a href="index-page_E9A38EE88DB7E4B8BE.html" target="_blank" title="风荷举">风荷举</a></li>
											<li><a href="index-page_E58991E4B889.html" target="_blank" title="剑三">剑三</a></li>
											<li><a href="index-page_E4B8BE.html" target="_blank" title="举">举</a></li>
											<li><a href="index-page_E9B9A4E5BD92.html" target="_blank" title="鹤归">鹤归</a></li>
											<li><a href="index-page_E7839FE69894E6B3A0.html" target="_blank" title="烟昔泠">烟昔泠</a></li>
											<li><a href="index-page_E9B29BE4BABAE6AD8C.html" target="_blank" title="鲛人歌">鲛人歌</a></li>
											<li><a href="index-page_E9A38EE88DB7.html" target="_blank" title="风荷">风荷</a></li>
												</ul>
			<ul class="c_search_suggest" id="J_search_suggest"></ul>

		</div>
		<a href="buy.html" target="_blank">
			<div class="cyc_cart right">
					<span class="cyc_cart_icon"></span>
					<span class="cyc_cart_text">我的购物车</span>
					<span class="cyc_cart_nums" style="display:none;">0</span>				
			</div>
		</a>
	</div>
	<div class="cyc_h_bot_wrap">
		<div class="cyc_h_bot_container">
			<div class="cyc_h_link right">
				<div class="cyc_link_list right">
					<div class="cyc_link_item left">
						<a target="_blank" href="index.html">首页</a>
					</div>
															<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_17.html">图书仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_15.html">汉风仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_13.html">手办仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_12.html">首饰仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_10.html">零食仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_11.html">文具仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_6.html">古风仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_5.html">装扮仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_16.html">周边仓</a>
					</div>
																				<div class="cyc_link_item left ">
						<a target="_blank" href="index-page_8.html">服饰仓</a>
					</div>
														</div>
			</div>
		</div>
	</div>
</div>

    <!--header end-->
    <div class="cyc_bread_nav">
        <a class="cyc_bread_item left first" href="index-page.html">全部 <span class="cyc_bread_arrow"> > </span></a>
                                    <a class="cyc_bread_item left" href="index-page_51.html">居家宅品
                <span class="cyc_bread_arrow"> > </span>
                </a>
                            <a class="cyc_bread_item left" href="index-page_48.html">手办
                <span class="cyc_bread_arrow"> > </span>
                </a>
                            <span class="cyc_bread_item left cyc_not_arrow">预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办</span>
    </div>
    <div class="cyc_dtl_wrap">
        <div class="cyc_dtl_left left">
            <!-- 相册 -->
            <div class="sp-wrap">
                <div class="sp-large">
                    <a href="javascript:;" class="sp-current-big fakeA">
                        <img src="picture/1584015456512.jpg" alt="预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办" data-origin-figure="http://f.p.cycangcdn.com/1584015456512.jpg">
                    </a>
                </div>
                <div class="sp-thumbs-wrap">
                    <div class="sp-small-pics">
                        <div class="sp-thumbs sp-tb-active">
                                                            <img class="sp-current sp-thumbnail" src="picture/1584065416163.jpg" alt="预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办">
                                                            <img class=" sp-thumbnail" src="picture/1584065428509.jpg" alt="预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办">
                                                            <img class=" sp-thumbnail" src="picture/1584065439631.jpg" alt="预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办">
                                                            <img class=" sp-thumbnail" src="picture/1584065445627.jpg" alt="预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办">
                                          
                                                    </div>
                    </div>
                    <span class="sp-small-btn sp-small-prev"></span>
                    <span class="sp-small-btn sp-small-next"></span>
                </div>
            </div>
            <div class="cyc_icon_list">
                <div class="jiathis_style_24x24">
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_cqq"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_qzone"></a>
                </div>
            </div>
        </div>
        <div class="cyc_dtl_right left">
            ﻿<!-- 预售 s -->
    <p class="cyc_product_name">
        <span class="c_prev_sale_icon">预售</span>
        预售【官方正版】明日方舟 ARCTECH可动系列 1/8 阿消 手办
    </p>
    <h5 class="cyc_sub_brief">预计2020年9月发售
*可能因厂方、海关等其他意外因素的影响造成延期，不接受以此为由的定金退款申请，敬请谅解。
*商品的正式发售日期以实际的出货日期为准，介意者慎拍！</h5>
    <div class="cyc_price_wrap">
        <div class="cyc_dtl_p">
            定&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金：
                        <span id="c_price_num" class="cyc_price_num"></span>
            <p class="cyc_dtl_p c_sell_num_wrap">
            销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：
            已售 <span class="c_sell_num"></span> 件</p>
        </div>
        
        <!-- <div class="cyc_dtl_p">
            促&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销：
                    </div> -->
    
                        <p class="cyc_service cyc_dtl_p">服&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务：
            <a href="javascript:;">
                由<span class="c_red"> APEX </span>发货。
            </a>
            <a href="javascript:;" target="_blank" class='c_service_wrap'>
                <img class="c_service_icon" src="picture/service_icon.png">
                <span class="c_service_title">联系客服</span>
            </a>
        </p>
        <p class="c_no_back">此商品售出后恕不退款，如有疑问请联系客服。</p>
                <div class="cyc_dtl_p c_address_wrap">
            配 送 至：
            <div class="c_address_sel_trigger">
                <span class="c_address_selected_value">海南省 三沙市</span>
                <span class="c_addr_arrow"></span>
            </div>
            <div class="c_addr_bd">
                <div class="c_addr_sel_tab_wrap">
                    <ul class="c_addr_sel_tab">
                        <li class="c_addr_sel_hd c_sel_province on">请选择省</li>
                        <li class="c_addr_sel_hd c_sel_city">请选择市</li>
                    </ul>
                </div>
                <ul class="c_addr_sel_bd_box">
                    <li class="c_addr_sel_bd_province c_addr_sel_bd on">
                                                <span data-province-id="110000">北京</span>
                                                <span data-province-id="120000">天津</span>
                                                <span data-province-id="130000">河北省</span>
                                                <span data-province-id="140000">山西省</span>
                                                <span data-province-id="150000">内蒙古自治区</span>
                                                <span data-province-id="210000">辽宁省</span>
                                                <span data-province-id="220000">吉林省</span>
                                                <span data-province-id="230000">黑龙江省</span>
                                                <span data-province-id="310000">上海</span>
                                                <span data-province-id="320000">江苏省</span>
                                                <span data-province-id="330000">浙江省</span>
                                                <span data-province-id="340000">安徽省</span>
                                                <span data-province-id="350000">福建省</span>
                                                <span data-province-id="360000">江西省</span>
                                                <span data-province-id="370000">山东省</span>
                                                <span data-province-id="410000">河南省</span>
                                                <span data-province-id="420000">湖北省</span>
                                                <span data-province-id="430000">湖南省</span>
                                                <span data-province-id="440000">广东省</span>
                                                <span data-province-id="450000">广西壮族自治区</span>
                                                <span data-province-id="460000">海南省</span>
                                                <span data-province-id="500000">重庆</span>
                                                <span data-province-id="510000">四川省</span>
                                                <span data-province-id="520000">贵州省</span>
                                                <span data-province-id="530000">云南省</span>
                                                <span data-province-id="540000">西藏自治区</span>
                                                <span data-province-id="610000">陕西省</span>
                                                <span data-province-id="620000">甘肃省</span>
                                                <span data-province-id="630000">青海省</span>
                                                <span data-province-id="640000">宁夏回族自治区</span>
                                                <span data-province-id="650000">新疆维吾尔自治区</span>
                                                <span data-province-id="710000">台湾</span>
                                                <span data-province-id="810000">香港特别行政区</span>
                                                <span data-province-id="820000">澳门特别行政区</span>
                                            </li>
                    <li class="c_addr_sel_bd c_addr_sel_bd_city">
                        <div class="c_city_item">
                            <p class="c_null_province">请先选择省份</p>
                        </div>
                    </li>
                </ul>
            </div>
                            <div class="c_addr_postage_wrap">
                                            免运费
                                    </div>
                    </div>
    </div>
            <div class="c_advance_sell off">
            <p class="c_advance_sell_hd">预售已结束，请收藏等待再次开放销售</p>
            <div class="c_advance_sell_rule">  
                <span class="left">预售流程</span>
                <div class="right c_advance_sell_rule_btn">查看规则>>
                    <div class="c_advance_rule_ctt">
                        <div class="c_coupon_tri"></div>
                        <p>普通预售规则</p>
                        <p>1.  预付款下单后，请在24小时内支付预付款，超时将自动关闭订单；</p>
                        <p>2.  卖家支付定金后，最晚20XX年XX月XX日前支付尾款（具体时间预售商品有提示），因买家原因未如期支付尾款，超时将自动关闭订单，预付款不予退还，请务必注意尾款支付时间并及时支付尾款；</p>
                        <p>3.  尾款的支付请至“我的订单”页面，待尾款支付时间开始即可支付；</p>
                        <p>4.  发货时间请以预售商品详情页或订单详情页的“发货时间”为准；</p>
                        <p>5.  若C哩C哩对承诺的订单发货时间提出延迟，需征得买家确认同意，如果买家拒绝，订单将被关闭，预付款将退回买家；若买家超时未响应（即未拒绝或者同意），视为默认同意；</p>
                        <p>6.  预付款支付后、尾款支付前，因买家自身原因要求撤销订单并返还预付款的，双方可协商处置。非因买家责任，导致订单丧失继续履行条件的，则C哩C哩应返还预付款。</p>
                    </div>
                </div>
            </div>
            <div class="c_advance_sell_flow">
                <div class="c_advance_item">
                    <span class="c_advance_info"></span>
                    <span class="c_icon_num  on">1</span>
                    <p class="c_advance_status"> 定金 :<br>
                        <span class="c_advance_price c_pre_price on"></span>
                        <span class="c_pre_percent"></span>
                    </p>
                </div>
                <div class="c_advance_bar on"></div>
                <div class="c_advance_item">
                    <span class="c_advance_info c_final_deadline"></span>
                    <span class="c_icon_num ">2</span>
                    <p class="c_advance_status">尾款 :<br>
                        <span class="c_advance_price c_final_price"></span>
                        <span class="c_final_percent"></span>
                    </p>
                </div>
                <div class="c_advance_bar "></div>
                <div class="c_advance_item last">
                    <span class="c_advance_info c_deliver_tip"></span>
                    <span class="c_icon_num ">3</span>
                    <p class="c_advance_status">发货</p>
                </div>
            </div>                
            <div class="c_advance_sell_bot_bar"></div>
        </div>
            <div class="cyc_style_wrap">
        <span class="cyc_dtl_tlt left">款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;式：</span>
        <ul class="cyc_style_list left">
                                    <li class="cyc_style_item left" data-sku-id="83686" data-min-nums="1" data-limit-nums="10" title="阿消1/8" data-origin-price="50.00" data-price="50.00" data-sell-num="0" data-is-show-sellnum="0" data-stock-nums="100" data-is-show-stock-nums="0" data-is-show-pre-sale-info="1" data-pre-pay-price="50.00" data-final-payment="446.00" data-delivery-tips="2020-09-30前发货" data-pre-pay-end-time="2020.04.24" data-final-pay-end-time="2021.04.30" data-pre-sale-last-day="-6" data-pre-sale-progress="2" data-sale-type="3" data-discount="10.0" data-discount-start="" data-discount-end="" data-delivery-time="2020.09.30" data-is-dynamic-pre="0" data-dynamic-final-days="0" data-dynamic-deliver="0" data-sku-figure="" data-sku-can-refund="1">阿消1/8</li>
                            </ul>
    </div>
    <div class="cyc_add_min_wrap">
        <span class="cyc_dtl_tlt left">数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：  </span>
        <div id="cyc_add_min" class="cyc_size_content left ">
            <span class="cyc_size_min cyc_math_item left">-</span>
            <input id="c_num_ipt" class="cyc_num_ipt cyc_size_ipt left" value="1" readonly="readonly">
            <span class="cyc_size_add cyc_math_item left">+</span>
        </div>
        <div class="c_stock_num"></div>
    </div>
    <div class="cyc_add_cart_wrap">
                <button id="c_add_to_cart" class="cyc_dtl_btn off">加入购物车</button>
         
            <button id="J_fav" class="cyc_fav_btn" data-pid="22915" data-fav="0">收藏</button>
            </div>
<!-- 预售 e -->


        </div>
        <div class="cyc_dtl_tips">
            <!-- 底部提示 -->
            <h3 class="cyc_dtl_tips_icon left">购物帮助：</h3>
            <div class="cyc_tips_item left">
                <div>支付方式<span class="cyc_tips_q"></span></div>
                <ul class="cyc_tips_dtl w200">
                    <li>可使用支付宝/网银</li>
                </ul>
            </div>
            <div class="cyc_tips_item left">
                <div>发货说明<span class="cyc_tips_q"></span></div>
                <ul class="cyc_tips_dtl w200">
                    <li>下午三点前下单当天发货</li>
                    <li>三点后隔天发货</li>
                    <li>周末物流部休息，因此周五三点后下单会在周一发货</li>
                </ul>
            </div>
            <div class="cyc_tips_item left">
                <div>配送说明<span class="cyc_tips_q"></span></div>
                <ul class="cyc_tips_dtl w370">
                    <li>包邮发圆通快递</li>
                    <li>圆通快递全国绝大多数城市（除港澳台）均可送达，配送时间约1-4天</li>
                    <li>顺丰快递：配送时间约为1-3天（港澳台、国外除外）</li>
                </ul>
            </div>
            <div class="cyc_tips_item left">
                <div>退换货服务<span class="cyc_tips_q"></span></div>
                <ul class="cyc_tips_dtl w200">
                    <li>普通商品享有质量问题7天退货，签收后3个工作日之内可换货</li>
                    <li>其他特殊商品（如手办）的售后以页面说明为准。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cyc_item_dtl_wrap">
        <div class="cyc_item_dtl_tlt">
            <span class="cyc_item_dtl_text left">商品详情</span>
            <p class="cyc_qr_wrap right">
                <span class="cyc_qr_icon left"></span>
                <span class="cyc_item_dtl_text">下载C哩C哩移动版</span>
                <span class="cyc_big_qr_img"></span>
            </p>
        </div>
        <div class="cyc_dtl_intro">
            <div style="text-align: center;"><div style="text-align: left;">预计2020年9月发售</div><div style="text-align: left;">*可能因厂方、海关等其他意外因素的影响造成延期，不接受以此为由的定金退款申请，敬请谅解。</div><div style="text-align: left;">*商品的正式发售日期以实际的出货日期为准，介意者慎拍！</div><div style="text-align: left;"><img src="picture/1584015661096.jpg" alt=""><img src="picture/1584015674996.jpg" alt=""><img src="picture/1584015681606.jpg" alt=""><img src="picture/1584015717977.jpg" alt=""><img src="picture/1584015725536.jpg" alt=""></div></div>
        </div>
    </div>
    <div class="cyc_reco_wrap">
        <p class="cyc_reco_title">
            <span>购买了该商品的顾客还买了：</span>
        </p>
        <div class="cyc_list_left" id="J_reco_list_left"></div>
        <div class="cyc_list_right" id="J_reco_list_right"></div>
        <div class="cyc_reco_list" id="J_reco_list">
            <ul>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_18924.html" target="_blank">
                        <img src="picture/1512627695717.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;690.00</span></p>
                            <p class="cyc_reco_item_name">【官方正版】Alphamax Fate EXTRA 尼禄-克劳狄乌斯 水着ver 手办</p>
                        </div>
                    </a>
                </li>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_5296.html" target="_blank">
                        <img src="picture/1458044708337.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;88.00</span></p>
                            <p class="cyc_reco_item_name">【FUNKO】正版 pop 日本童话 樱子 手办</p>
                        </div>
                    </a>
                </li>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_7105.html" target="_blank">
                        <img src="picture/1466060377419.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;175.00</span></p>
                            <p class="cyc_reco_item_name">GSC LOVELIVE 小泉花阳 粘土 再版 手办 现货 代理版</p>
                        </div>
                    </a>
                </li>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_18925.html" target="_blank">
                        <img src="picture/1512628355804.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;690.00</span></p>
                            <p class="cyc_reco_item_name">【官方正版】Alphamax Fate EXTRA 贞德 水着ver 手办</p>
                        </div>
                    </a>
                </li>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_22780.html" target="_blank">
                        <img src="picture/1551320790485.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;269.00</span></p>
                            <p class="cyc_reco_item_name">GoodSmile 官方正版 GSC全职高手王杰希Q版手办PVC粘土人</p>
                        </div>
                    </a>
                </li>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_3983.html" target="_blank">
                        <img src="picture/1452583636234.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;300.00</span></p>
                            <p class="cyc_reco_item_name">【有萌】【预售】 星球大战 黑武士 1:1 头盔</p>
                        </div>
                    </a>
                </li>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_5295.html" target="_blank">
                        <img src="picture/1458044635940.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;88.00</span></p>
                            <p class="cyc_reco_item_name">【FUNKO】正版 pop 日本童话 桃太郎 手办</p>
                        </div>
                    </a>
                </li>
                                <li class="cyc_reco_item cyc_hover_item">
                    <a href="index-p_4065.html" target="_blank">
                        <img src="picture/1455367771168.jpg" alt="" width="248px" height="248px">
                        <div class="cyc_reco_item_dtl">
                            <p><span class="cyc_reco_price left">&yen;510.00</span></p>
                            <p class="cyc_reco_item_name">【官方正版】【现货】 1/8 叶修in《全职高手》1.0 手办</p>
                        </div>
                    </a>
                </li>
                            </ul>
        </div>
    </div>
    <!--footer start-->
    <footer class="c_footer">
	<div class="c_container">
		<!--<div class="c_accept_wrap">
			<ul class="c_accept">
				<li>
					<i class="c_icon_cang1"></i>
					<span>首次下单免邮</span>
				</li>
				<li>
					<i class="c_icon_cang2"></i>
					<span>自营69元包邮</span>
				</li>
				<li>
					<i class="c_icon_cang3"></i>
					<span>7天退货保障</span>
				</li>
			</ul>
		</div>-->
		<div class="c_infor_wrap">
			<div class="c_infor">
				<dl>
					<dt>商务合作</dt>
					<dd><a href="index-cooper.html" target="_blank">品牌进驻</a></dd>
					<dd><a href="index-cooper.html" target="_blank">IP授权</a></dd>
					<dd><a href="index-cooper.html" target="_blank">批发代销</a></dd>
					<dd><a href="index-cooper.html" target="_blank">票务合作</a></dd>
				</dl>
				<dl>
					<dt>联系方式</dt>
					<dd>官方邮箱：act@cycang.com</dd>
					<dd>推广合作：act@cycang.com</dd>
					<dd>媒体合作：act@cycang.com</dd>
					<dd>商务合作：cycswb@126.com</dd>
				</dl>
				<dl>
					<dt>客服售后</dt>
					<dd>客服热线：400-667-1673</dd>
					<dd>客服QQ1：3112573893</dd>
					<dd>客服QQ2：2627466500</dd>
				</dl>
				<dl>
					<dt>直播合作</dt>
					<dd>QQ：2178263129</dd>
				</dl>

				<ul class="c_infor_right">
					<li>
						<a href="act-appdownload.html" target="_blank">
							<img class="c_qr" src="picture/qr.png" alt="">
							<p class="c_red_light">下载手机C哩C哩</p>
						</a>
					</li>
					<li>
						<i class="c_icon_weibo"></i>
						<p>微博搜索并关注<span class="c_red_light">@C哩C哩</span></p>
					</li>
					<li>
						<i class="c_icon_wechat"></i>
						<p>微信公众号搜索并关注<span class="c_red_light">C哩C哩</span></p>
					</li>
				</ul>
			</div>	
		</div>
		<p class="c_copyright">
		 ICP ©2020F(x)科技有限公司 版权所有 <a href="index-statement.html" target="_blank"> 免责声明</a>（备案号：<a href="javascript:;" target="_blank">粤ICP备15028368号</a>)
		</p>
	</div>
	<!-- cycang.com Baidu tongji analytics -->
	<div style="display:none">
		<!-- <script type="text/javascript">
			var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc5a2a3ab962346d1e9cfaf5dc654c2f5' type='text/javascript'%3E%3C/script%3E"));
		</script> -->

	</div>
</footer>

    <!--footer end-->
    <a class="c_fix_top" href="#cyc_header"></a>
    <input type="hidden" value="0" id="isPresent">
    <input type="hidden" value="22915" id="product_id">
    <input type="hidden" value="i.php?c=coupon&a=receiveCoupon" id="coupon_url">
    <input type="hidden" value="//www.cycang.com/Public/build/img/shop/cart.png" id="flyIconUrl">
    <input type="hidden" value="index.php?c=address&a=getAreaFreight" id="J_get_freight">
    <input type="hidden" value="1101112" id="J_supplier_code">

    <script type="text/html" id="c_redem_shop_layer">
        {{each list as goods}}
        <li class="cyc_goods_item clearfix">
            <a href="index.php?a=p&id={{goods.product_id}}" target="_blank">
                <img src="{{goods.figure}}" class="r_goods_img">
            </a>
            <div class="r_goods_info">
                <a href="index.php?a=p&id={{goods.product_id}}" target="_blank">
                    <div class="r_goods_title">{{goods.product_name}}</div>
                </a>
                <div class="r_goods_style">款式：{{goods.sku_attr}}</div>
                <div class="r_goods_prize">
                    <span class="r_now_prize">&yen;{{goods.trade_price}}</span>
                    <span class="r_origin_prize">&yen;{{goods.sku_price}}</span>
                    <span class="r_full_prize">换购需购满&yen;{{goods.trade_min}}</span>
                </div>
            </div>
        </li>
        {{/each}}
    </script>




    
    <form action="" id="c_buy_now_form" method="post">
        <input type="hidden" value="" name="nums" id="c_buy_now_nums">
        <input type="hidden" value="" name="productId" id="c_buy_now_id">
        <input type="hidden" value="" name="skuId" id="c_buy_now_sku_id">
    </form>
</body>
</html>