.c_footer{padding:30px 0 10px;font-size:14px;text-align:center}
.c_customer-service{padding-top:10px;font-size:12px;color:#aaa}
.c_customer-service ul{margin:0 auto;display:block;width:300px}
.c_customer-service ul li{display:block;float:left;padding-left:5px}
.c_customer-service ul li span{display:inline-block;padding-top:5px}
.c_copy_right{padding-top:10px;padding-bottom:20px;font-size:12px;color:#aaa;margin-top:20px;text-align:center}
.c_footer2{border-top:1px solid #fcfcfc}